body{
  font-family: sans-serif;
  background-color: #E5E5E5;
  margin: 0;
}
ol, ul{
  margin: 0;
  padding: 0;
  list-style: none;
}


/* INICIO DEL HEADER */
.header{
  background-color:#C12017;
  color: white;
  display: flex;
  justify-content: space-between;
  height: 70px;
  align-items: center;
  flex-wrap: wrap;
  border: 1px solid black;
}
.header a{
  color: white;
  text-decoration: none;
  height: inherit;
  display: flex;
  align-items: center;
  padding: 0 10px;
  
}
.header ol{
  display: flex;
  height: inherit;
}
.header .logo{
  text-align: center;
}
.header-box{
  flex: 1;
  max-width: 1000px;
  margin: 0 auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
  height: inherit;
}
.header ol li{
  height: inherit;
}
.menu-superior{
  /* display: flex; */
  height: inherit;
  /* border: 1px solid black; */
}
figure{
  margin: 0;
}

/* CONTENEDOR */
.container{
  display: grid;
  grid-gap: 5px;
  grid-template-columns: 200px 1fr;
  grid-template-rows: repeat(4, 1fr);
  grid-template-areas:  "menu-box dashboard-box"
                        "menu-box ."
                        "menu-box ."
                        "menu-box .";
  height: 100vh;
}

/* INICIO DEL MENU */
.menu-box{
  grid-area: menu-box;
  background-color: #222D31;
  text-align: left;
  display: grid;
  height: 100%;
  width: 200px;
}
.menu-box nav{
  display: inherit;
}
.menu-box ol li{
  display: inherit;
}
.menu-box a {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
}


/* DASHBOARD */
.dashboard-box{
  grid-area: dashboard-box;
}

/* SUMARY */
.summary-box{
  grid-area: summary-box;
}

/* EXPIRED */
.expired-box{
  grid-area: expired-box;
}